project:
  type: website
  output-dir: docs
  render: 
    - "*.qmd"
  resources:
    - "2024-25/"
  
# freezing seems to bork font size
execute:
  freeze: auto  # Re-render only when source changes
  
website:
  title: "R Workshop"
  description: "NU Political Science R Workshop"
  search: true
  page-navigation: false
  sidebar:
    pinned: true
    align: center
    tools:
      - icon: github
        href: https://github.com/gustavo-diaz/rworkshop
        text: "GitHub repository"
    
    style: "docked"
    collapse-level: 1
    contents:
      - href: index.qmd
        text: "Home"
        
format:
  html:
    theme: 
      light: [flatly, custom.scss]
      dark: [darkly, custom_dark.scss]

